.welcome-container {
    position: relative;
    height: 100vh;
    background-image: url('../../img/Pbarber.webp');
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.welcome-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.5) 25%,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.welcome-section {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 520px;
}

.welcome-section h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.welcome-section p {
    font-size: 1.4rem;
    color: #ccc;
    text-align: start;
}

.welcome-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.welcome-buttons button {
    background-color: #d4af37;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.welcome-buttons button:hover {
    background-color: #dfc865;
    transform: translateY(-2px);
}

.welcome-buttons button:active {
    transform: translateY(1px);
}

.social-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    /* margin-top: 20px; */
}

.icon-button {
    color: white;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-button:hover {
    color: #d4af37;
    transform: scale(1.2);
}

.logo-img {
    position: relative;
    z-index: 2;
    margin-right: 40px;
    border-radius: 50%;
    width: 250px;
    height: auto;
    object-fit: cover;
    border: 3px solid #d4af37;
}

@media (max-width: 381px) {
    .welcome-buttons {
        flex-direction: column;
    }

    .social-buttons {
        padding-top: 30px;
    }
}