.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
    background-color: #222;
}

.about-content {
    max-width: 800px;
    text-align: left;
    margin-bottom: 40px;
    padding: 0 20px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #d4af37;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #faf9ec;
}

.about-image {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 600px;
    background-image: url('../../img/about.webp');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .about-container {
        flex-direction: row;
        padding: 0px 0px;
    }

    .about-content {
        max-width: 50%;
    }

    .about-content p {
        font-size: 1.2rem;
    }
}